.container {
  max-width: 80rem;
  padding: 0 1rem;
  margin: 2rem auto 6rem;
  font-family: "メイリオ";
}

.header {
  padding-bottom: 2rem;
}

.headerDev {
  display: flex;
}

.footerIcons {
  margin: 30px 0;
}

.profileIcons {
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

.h1Text {
  font-size: 1.7rem;
  font-family: 'Kanit', sans-serif;
  /* font-family: 'Ubuntu', sans-serif; */
  text-align: center;
  margin-top:40px;
  margin-bottom:30px;
  display: flex;
  align-items: center; /* 垂直中心 */
  justify-content: center;
}

.h1Text:before, .h1Text:after {
  border-top: 2px solid;
  border-color: rgb(75, 156, 214);
  content: "";
  width: 5em; /* 線の長さ */
}
.h1Text:before {
  margin-right: 1em; /* 文字の右隣 */
}
.h1Text:after {
  margin-left: 1em; /* 文字の左隣 */
}

.listBox {
  list-style: none;
  width: 100%;
}

.listBox li {
  color: #333;
  border-left: double 5px rgb(29, 50, 133) ;
  border-bottom: dotted 1px rgb(9, 10, 10);
  padding: 0.5rem;
  width: 50%;
  height:5rem;
  border-spacing: 1px;
}

.listBoxYear {
  color: #999;
  font-weight: bold;
}
.listBoxContents {
  display: flex;
  font-weight: bold;
}

.listBoxContentP1 {
  margin: 0 20px 0 30px;
}
